docker/kontainer-2/cgi-bin/schemas/login_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Define the element Autorisering -->
  <xs:element name="Autorisering">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Login" type="LoginType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Define the complex type BrukerType -->
  <xs:complexType name="LoginType">
    <xs:sequence>
      <xs:element name="Epost" type="xs:string"/>
      <xs:element name="Passord" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
