docker/cgi-bin/schemas/dikt_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Define the element DiktTable -->
  <xs:element name="Diktsamling">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Dikt" type="DiktType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Define the complex type DiktType -->
  <xs:complexType name="DiktType">
    <xs:sequence>
      <xs:element name="Tittel" type="xs:string"/>
      <xs:element name="Tekst" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
