docker/cgi-bin/schemas/logout_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Define the element Autorisering -->
  <xs:element name="Autorisering">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Logout" type="LogoutType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Define the complex type BrukerType -->
  <xs:complexType name="LogoutType">
    <xs:sequence>
      <xs:element name="Epost" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
